@page
@model DigiTours.Pages.Dashboard.DetailsModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";


    var user = await UserManager.FindByIdAsync(Model.Tour.User);
    var accessUser = await UserManager.GetUserAsync(User);
}

<h2>Details</h2>

<div>
    <h4>Tour</h4>
    <hr />

    <dl class="dl-horizontal">
        @if (accessUser.AccountType == "A")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Tour.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tour.User)
            </dd>
            <dt>
                Name
            </dt>
            <dd>
                @user.FirstName @user.LastName
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @user.Email
            </dd>
            <hr />
        }
        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tour.StreetAddress)
            @Html.DisplayFor(model => model.Tour.StreetAddress2)
            @Html.DisplayFor(model => model.Tour.City), @Html.DisplayFor(model => model.Tour.State). @Html.DisplayFor(model => model.Tour.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tour.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tour.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tour.Requests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tour.Requests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tour.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tour.Type)
        </dd>
    </dl>
</div>
<div>
    @if (accessUser.Id == user.Id || accessUser.AccountType == "A") 
    {
        <a asp-page="./Edit" asp-route-id="@Model.Tour.ID">Edit</a> <p>|</p> 
    }
    <a asp-page="./Index">Back to List</a>
</div>
